[submodule "third_party/googleapis"]
	path = third_party/googleapis
	url = git@github.com:googleapis/googleapis.git
[submodule "third_party/remote-apis"]
	path = third_party/remote-apis
	url = git@github.com:bazelbuild/remote-apis.git
